---
import Layout from "../layouts/default.astro";
---

<Layout title="Home Page">
	<p class="px-8">Welcome to Astro 3.0. Check our Optimized Image component at 
		<a href="/about">About</a> page</p>
</Layout>
